# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Exclude everything else, but not README.md
!README.md

# Ignore everything in this directory
src/*
# But keep README.md
!src/README.md


# Ignore everything in this directory
out/*
# Except this file and keep README.md
!/out/.gitignore
!out/README.md
